
{% extends "base.html" %}

{% block title %}
            About Page
{% endblock %}

{% block content %}

<div id="the_centred_title" style="width:350px">
    <h3 style="color:red; background:black;margin: auto;padding: 10px 0px"><center>This Is The About Page</center> </h3>
</div>
<p>
<pre>
    <h3 style="color:blue"> The names of my familly</h3>
    <ol>
    {% for name in names %}
        <li><strong style="color:olivedrab">{{ name }}</strong></li>
    {% endfor %}
    </ol>
</pre>
</p>

{% endblock %}
